.Pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .Pokedex-winner {
    color: #4c6faf;
  }

  .Pokedex-loser {
    color: #8b2346;
  }